<div class="card">
  <img
    src="https://picsum.photos/id/{{ index }}/400/200"
    class="card-img-top"
    alt="Campground Image"
  />
  <div class="card-body">
    <h5 class="card-title">
      {{ campground.title }}
    </h5>
    <p class="card-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim temporibus
      ipsa aliquam, facere quis atque, totam adipisci perspiciatis possimus
      molestiae vel soluta fuga, aliquid commodi recusandae non repellendus. Quo
      temporibus voluptas consectetur dicta quas, sunt nihil nesciunt illo quos
      eaque dolor exercitationem unde libero odit natus, rem est officiis
      tempore animi expedita soluta repellat esse! Itaque minus accusantium
      eveniet veniam nisi rem optio provident maiores architecto et inventore ea
      commodi, asperiores obcaecati alias ipsum rerum iste vel eius officiis
      explicabo eum! Harum, atque sunt. Aperiam quod illo, perferendis
      voluptatem iusto maiores hic aspernatur commodi dolore deleniti
      repudiandae, modi voluptatibus ipsam.
    </p>
  </div>
</div>
